
<div id="footer-container">
<div id="footer">
    <div id="footer-sidebar">
      <div class="sidepanel" id="twitter">
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
          new TWTR.Widget({
            version: 2,
            type: 'search',
            search: '#onlus',
            interval: 20000,
            title: 'Onlus News',
            subject: '',
            width: 225,
            height: 200,
            theme: {
              shell: {
                background: '#11662f',
                color: '#fff'
              },
              tweets: {
                background: '#8bd2f6',
                color: '#444',
                links: '#000'
              }
            },
            features: {
              scrollbar: false,
              loop: true,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: true,
              behavior: 'default'
            }
          }).render().start();
        </script>
      </div>
      <div class="sidepanel">
        <ul>
          <li><strong>Indirizzo</strong></li>
          <li>Abruzzo All Stars Onlus<br>Via Arenazze, 14/a <br>66100 Chieti (CH)<br>Tel: 333-5001699 </li>
          <li>&nbsp;</li>
          <li><strong>Email:</strong></li>
          <li><a href="mailto:presidente@abruzzoallstars.it">presidente@abruzzoallstars.it</a></li>
          <li><a href="mailto:segreteria@abruzzoallstars.it">segreteria@abruzzoallstars.it</a></li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        </ul>
      </div>
      <div class="sidepanel sponsor">
        <h1>I nostri sponsor</h1>
        <ul>
          <li><%= link_to(image_tag("sponsor/potenza.jpg"), "#") %></li>
        </ul>
      </div>
    </div><!-- #footer-sidebar -->
  <ul id="footer-links">
    <li>Copyright &copy; Abruzzo All Stars </li>
  </ul>
</div><!-- #footer -->
</div><!-- #footer-container -->
