
<div id="footer-container">
<div id="footer">
    <div id="footer-sidebar">
      <div class="sidepanel" id="twitter">
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
          new TWTR.Widget({
            version: 2,
            type: 'search',
            search: '#onlus',
            interval: 20000,
            title: 'ONLUS NEWS',
            subject: '',
            width: 225,
            height: 200,
            theme: {
              shell: {
                background: '#333',
                color: '#c0c0c0'
              },
              tweets: {
                background: '#444',
                color: '#f4f4f4',
                links: '#888'
              }
            },
            features: {
              scrollbar: false,
              loop: true,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: true,
              behavior: 'default'
            }
          }).render().start();
        </script>
      </div>
      <div class="sidepanel">
        <p>cippalippa</p>
        <ul>
          <li>cippalippa</li>
          <li>cippalippa</li>
          <li>cippalippa</li>
          <li>cippalippa</li>
          <li>cippalippa</li>
          <li>cippalippa</li>
          <li>cippalippa</li>
          <li>cippalippa</li>
        </ul>
      </div>
      <div class="sidepanel">
        <p>cippalippa</p>
      </div>
      <div class="sidepanel">
        <p>cippalippa</p>
      </div>
    </div><!-- #footer-sidebar -->
  <ul id="footer-links">
    <li>Copyright &copy; Abruzzo All Stars </li>
  </ul>
</div><!-- #footer -->
</div><!-- #footer-container -->
