<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'colorbox' %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'jquery.colorbox-min' %>
<% end %>


<h1 class="post-title">Ultimi eventi </h1>
<div class="post-content">

  <ul id="events-list" >
    <% @events.each do |event| %>
      <li><%= link_to event.title, event, :remote => true %></li>
    <% end %>
  </ul>


  <div id="event">
    clicca su un evento per vedere i dettagli
  </div>

</div>
<div class="clear"></div>
<h1 class="post-title">Sfida le nostre star</h1>
<%= render :partial => "challenges/form" %>

