<h1>Ultimi eventi </h1>


<% @events.each do |event| %>
    <%= link_to event.title, event, :remote => true %>
<% end %>


<div id="event">

</div>


<h1>Sfida le nostre star</h1>
<%= render :partial => "challenges/form" %>

