<p id="notice"><%= notice %></p>
<h1 class="post-title">La Onlus</h1>
<div class="post-content">
  <p>
    Abruzzo All Stars onlus  è un’associazione di volontariato senza fine di
lucro che nasce dalla volontà di personalità del mondo dello spettacolo,
della cultura, dello sport e delle professioni della regione Abruzzo che
hanno deciso di impegnarsi gratuitamente nel sostegno di progetti di
solidarietà.
Diretta emanazione è la squadra di calcio che aderisce a progetti di
Associazioni di volontariato e di Enti che hanno lo scopo di raccogliere
fondi per specifici progetti.
<br><br>
Abruzzo All Stars onlus partecipa come ospite o come partner  ad eventi
organizzati da altre Onlus per le medesime finalità.
<br><br>
Abruzzo All Stars onlus collabora con Enti, Istituzioni, Organizzazioni ed
Associazioni per specifici progetti.
  </p>
</div>
<h1 class="post-title">Organizzazione</h1>
<div class="post-content">
  <h2>Soci fondatori</h2>
  <p>Piero Mazzocchetti, Marco Papa, Davide Cavuti, Modesto Lanci, Angela Frezza.</p>
  <h2>Ruoli</h2>

  <dl>
    <dt>Presidente</dt><dd>Modesto Lanci</dd>
    <dt>Vice Presidente</dt><dd>Davide Cavuti</dd>
    <dt>Segretario - Tesoriere</dt><dd>Angela Frezza</dd>
    <dt>Consigliere</dt><dd>Piero Mazzocchetti</dd>
    <dt>Consigliere</dt><dd>Marco Papa</dd>
  </dl>
</div>

