<p id="notice"><%= notice %></p>
<h1 class="post-title">La Onlus</h1>
<div class="post-content">
  <p> "Abruzzo All Stars onlus"  è un’Associazione di
Volontariato che nasce dalla volontà di personalità del mondo dello
spettacolo, della cultura, dell’economia, dello sport e delle professioni della regione abruzzo che hanno deciso di impegnarsi gratuitamente nel sostegno di
progetti di solidarietà per persone che vivono  in situazione di svantaggio.Diretta emanazione è la squadra di calcio che aderisce a progetti di
Associazioni di volontariato e di Enti che hanno lo scopo di raccogliere fondi per specifici progetti.</p>
</div>
<h1 class="post-title">Organizzazione</h1>
<div class="post-content">
  <p> 
  Soci fondatori: Piero Mazzocchetti, Marco Papa, Davide Cavuti, Modesto Lanci, Angela Frezza.<br>
  <ul>
    <li><strong>Presidentei:&nbsp;</strong>Modesto Lanci</li>
    <li><strong>Vice Presidente:&nbsp;</strong>Davide Cavuti</li>
    <li><strong>Segretario - Tesoriere:&nbsp;</strong>Angela Frezza</li>
    <li><strong>Consigliere:&nbsp;</strong>Piero Mazzocchetti</li>
    <li><strong>Consigliere:&nbsp;</strong>Marco Papa</li>
  </ul>
  </p>
</div>

