<p id="notice"><%= notice %></p>
<blockquote>
ABRUZZO ALL STARS onlus è un' associazione di personaggi abruzzesi noti
nel campo dello spettacolo, dello sport, della cultura e delle professioni
che hanno deciso di dedicare parte del loro tempo a progetti di
solidarietà e di beneficenza.<br>
ABRUZZO ALL STARS onlus organizza manifestazioni ed eventi per raccogliere
fondi da destinare ai più deboli.
</blockquote>
<blockquote class="inverted"></blockquote>
<div class="post-content">
  <p>
    Abruzzo All Stars onlus ha organizzato una squadra di calcio formata da
    celebrità dello spettacolo e dello sport, disponibile per giocare partite
    che abbiano lo scopo di raccogliere fondi da destinare a progetti di
    beneficenza e solidarietà.

  <br>
  <%= link_to "Proponici una sfida", :controller => "/events", :action => "index" %>
  </p>
</div>


