<p id="notice"><%= notice %></p>
<blockquote>L'associazione senza scopo di lucro, di natura privatistica e  persegue finalità di solidarietà sociale e di carattere socio-culturale e si propone di svolgere attività  di solidarietà e beneficenza.</blockquote>
<blockquote class="inverted"></blockquote>
<h1 class="post-title">Mission</h1>
<div class="post-content">
  <p>Spesso le istituzioni non sono realmente in grado di seguire da vicino i problemi della "gente comune", dove loro non arrivano loro ci siamo noi. Favorire la condizione sociale, garantendo pari diritti e opportunità a tutta la popolazione è la nostra missione. Con questo comune obiettivo, personalità di spicco della regione abruzzese si sono unite in una squadra di calcio, sia per dare voce alle necessità dei più bisognosi, che per fare beneficenza. Il grande cuore abruzzese pulsa gioia per chi ancora non ne ha.</p>
  <p>L'associazione Abruzzo All Stars onlus  è composta da personaggi dello sport, dello spettacolo e della cultura abruzzese che intendono impegnarsi nel mondo del volontariato per progetti di solidarietà e beneficenza.</p>
  <p>La squadra di calcio "Abruzzo all stars" è disponibile a giocare per sostenere  specifici progetti o per raccogliere fondi da destinare ad Associazioni di volontariato.
  <br>
  <%= link_to "Proponici una sfida", :controller => "/events", :action => "index" %>
  </p>
</div>


