<%= form_for([@event, @event.pictures.build], :html => {:multipart => true}) do |f| %>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>