<p>
	<b>Image</b>
	<%= image_tag picture.image_url(:thumb) if picture.image? %>
</p>
<p>
  <%= link_to 'Destroy Image', [picture.event, picture],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>