<h1 class="post-title big center">Le nostre star</h1>
<div class="post-content">

  <ul id="players-list">
    <h1 class="post-title">Il nostro mister</h1>
      <li>
        <%= link_to @mister.full_name, @mister, :remote => true %>
      </li>
    <h1 class="post-title">I "Giocatori"</h1>
    <% @players.each do |player| %>
      <li>
        <%= link_to player.full_name, player, :remote => true %>
      </li>
    <% end %>
  </ul>

  <div id="player">
    <h1 class="post-title medium">clicca su un giocatore per vedere i dettagli</h1>
  </div>
</div>

