<h1 class="post-title big">Le nostre star</h1>
<div class="post-content">

  <ul id="players-list">
    <% @players.each do |player| %>
      <li>
        <%= link_to player.full_name, player, :remote => true %>
      </li>
    <% end %>
  </ul>

  <div id="player">
    <h1 class="post-title medium">clicca su un giocatore per vedere i dettagli</h1>
  </div>
</div>

